<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICategoryService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICommentService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IPostService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://desktop-578oabe:4321/WcfTest3Host/CategoryService/soap"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICategoryService"
                contract="CategoryService.ICategoryService" name="WSHttpBinding_ICategoryService">
                <identity>
                    <dns value="DESKTOP-578OABE" />
                </identity>
            </endpoint>
            <endpoint address="https://desktop-578oabe:4321/WcfTest3Host/CommentService/soap"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommentService"
                contract="CommentService.ICommentService" name="WSHttpBinding_ICommentService">
                <identity>
                    <dns value="DESKTOP-578OABE" />
                </identity>
            </endpoint>
            <endpoint address="https://desktop-578oabe:4321/WcfTest3Host/PostService/soap"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPostService"
                contract="PostService.IPostService" name="WSHttpBinding_IPostService">
                <identity>
                    <dns value="DESKTOP-578OABE" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>