<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WcfDb3" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WcfDb3;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <!--Increase 'maxRequestLength' to needed value: 100mb (value is in kilobytes)-->
    <httpRuntime maxRequestLength="102400"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--Increase 'maxAllowedContentLength' to needed value: 100mb (value is in bytes)-->
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="WcfTest3.Services.PostService" behaviorConfiguration="authBehavior">
        <endpoint address="soap" binding="wsHttpBinding" bindingConfiguration="wsHttpIdentity" contract="WcfTest3.Core.WcfServices.IPostService">
          <identity>
            <dns value="DESKTOP-578OABE" />
          </identity>
        </endpoint>
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="webHttpBehavior" bindingConfiguration="webHttpTransport" contract="WcfTest3.Core.WcfServices.IPostService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://DESKTOP-578OABE:4321/WcfTest3Host/PostService" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfTest3.Services.CategoryService" behaviorConfiguration="authBehavior">
        <endpoint address="soap" binding="wsHttpBinding" bindingConfiguration="wsHttpIdentity" contract="WcfTest3.Core.WcfServices.ICategoryService">
          <identity>
            <dns value="DESKTOP-578OABE" />
          </identity>
        </endpoint>
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="webHttpBehavior" bindingConfiguration="webHttpTransport" contract="WcfTest3.Core.WcfServices.ICategoryService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://DESKTOP-578OABE:4321/WcfTest3Host/CategoryService" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfTest3.Services.CommentService" behaviorConfiguration="authBehavior">
        <endpoint address="soap" binding="wsHttpBinding" bindingConfiguration="wsHttpIdentity" contract="WcfTest3.Core.WcfServices.ICommentService">
          <identity>
            <dns value="DESKTOP-578OABE" />
          </identity>
        </endpoint>
        <endpoint address="json" binding="webHttpBinding" behaviorConfiguration="webHttpBehavior" bindingConfiguration="webHttpTransport" contract="WcfTest3.Core.WcfServices.ICommentService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://DESKTOP-578OABE:4321/WcfTest3Host/CommentService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="authBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <serviceCertificate findValue="DESKTOP-578OABE" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfTest3.Services.CustomUsernameValidator, WcfTest3.Services" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="WcfTest3.Services.AuthorizationManager, WcfTest3.Services">
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpIdentity">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="webHttpTransport">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>